<div class="jumbotron">
  <div class="row">
    <div class="com-md-8">
        <h1>welcome to Github Search</h1>
    </div>
    <div class="col-md-4">

    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">
          <h1>Take control of your search</h1>

        </div>
        <div class="card-body">
          <h3>Sarch any User in github</h3>

        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">
          <h1>Take control of your search</h1>

        </div>
        <div class="card-body">
          <h3>Sarch any User in github</h3>

        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-title">
          <h1>Take control of your search</h1>

        </div>
        <div class="card-body">
          <h3>Sarch any User in github</h3>

        </div>

      </div>
    </div>

  </div>


</div>
