img{
  height: 250px;
  width: auto;
}
.mar{
  margin: 5px;
  height:auto;

}
.mar:hover{
  background-color: #2142;
  transition: 450ms;
}
.marg{
  margin: 3px;
}
a{
  font-weight: 400;
}
a:hover{
  text-decoration: underline;
  color: #567;


}
